= will_paginate @url_checks

%table
  %tr
    %th URL
    %th status
    %th checked_at
    
  - @url_checks.each do |url_check|
    %tr
      %td= link_to url_check.url, url_check.url
      %td= url_check.deal_exists ? "deal exists" : "-"
      %td= url_check.created_at