<div class="span-14"><h1>Group Buying Dynamics</h1></div>
<div class="span-10 last">
  <form>
    <input type="text"  class="text" name="" value="Username" /> <input type="text"  name="" class="text" value="Password" />
  </form>
</div>
<div class="span-14">&nbsp;</div>
<div class="span-10 last nav">
  <a href="#">Login</a>
  <a href="#">Signup</a>
  <a href="#">Lost Password?</a>
</div>

<div class="span-18">
  <div id="chart"></div>
</div>

<div class="span-6 last">
  <div class="rounded">
    <h2><%= Deal.count %></h2>
    <h5>deals analyzed to date</h5>
  </div>
  <div class="rounded">
    <h3>Top Trending Deals</h3>
  </div>
  <div class="rounded">
    <h5>Sign Up for Email Updates</h5>
    <input type="submit" value="Sign Up" />
  </div>
</div>

<div class="span-8 append-16 last">
  <h2>See Detailed Report</h2>
  <p>
    <a href="/summary/groupon">Groupon</a>
  </p>
  <p>
    <a href="/summary/open_table">OpenTable</a>
  </p>
  <p>
    <a href="/summary/travel_zoo">TravelZoo</a>
  </p>
  <p>
    <a href="/summary/travel_zoo_uk">TravelZoo UK</a>
  </p>
</div>
</div>
<script type="text/javascript">
var chart;
$(document).ready(function() {
  chart = new Highcharts.Chart({
    chart: {
      renderTo: 'chart',
      defaultSeriesType: 'line',
      
      marginBottom: 25
    },
  title: {
    text: "Group Buying Dynamics"
  },
  yAxis: {
    title: {
      text: 'Value ($)'
    },
    plotLines: [{
      value: 0,
      width: 1,
      color: '#808080'
    }]
  },
  tooltip: {
    formatter: function() {
      return '<b>' + this.x + '</b>' + this.y + '$';
    }
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'top',
    x: -10,
    y: 100,
    borderWidth: 0
  },
  
  xAxis: {
    categories: <%= @chart.labels.to_json %>
  },
  series: [
    <%= @chart.datasets.map{ |name, data| "{name: '#{name}', data: #{data.to_json}}"}.join(', ') %>
  ]
  });

});
</script>
