!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Group Buying
    
    %script{:src => '/javascript/jquery.js'}
    %script{:src => '/javascript/highcharts.js'}
    
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css", :type => "text/css"}
    
    <!--[if lt IE 8]>
    %link{:rel=>"stylesheet", :href => "/stylesheets/ie.css", :type => "text/css", :media => "screen, projection"}
    <![endif]-->
    
%body
  .container
    = yield