/*
Syntax error: Undefined mixin 'container'.
        on line 17 of /Users/santiago/Projects/groupBuying/app/stylesheets/layout.sass, in `container'
        from line 17 of /Users/santiago/Projects/groupBuying/app/stylesheets/layout.sass

12: 
13: h1
14:   font-size: 30px
15: 
16: .container
17:   +container
18: 
19: .top-container
20:   +column(25, true)
21:   #header
22:     height: 50px

Backtrace:
/Users/santiago/Projects/groupBuying/app/stylesheets/layout.sass:17:in `container'
/Users/santiago/Projects/groupBuying/app/stylesheets/layout.sass:17
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:32:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:12:in `cache'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:31:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/activesupport-3.0.5/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/rack/logger.rb:13:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/activesupport-3.0.5/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/lock.rb:11:in `synchronize'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/actionpack-3.0.5/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/application.rb:168:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/application.rb:77:in `send'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/application.rb:77:in `method_missing'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/santiago/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/handler/webrick.rb:13:in `run'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/rack-1.2.2/lib/rack/server.rb:213:in `start'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/commands/server.rb:65:in `start'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/commands.rb:30
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/commands.rb:27:in `tap'
/Users/santiago/.rvm/gems/ree-1.8.7-2010.02@charts/gems/railties-3.0.5/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'container'.\A         on line 17 of /Users/santiago/Projects/groupBuying/app/stylesheets/layout.sass, in `container'\A         from line 17 of /Users/santiago/Projects/groupBuying/app/stylesheets/layout.sass\A \A 12: \A 13: h1\A 14:   font-size: 30px\A 15: \A 16: .container\A 17:   +container\A 18: \A 19: .top-container\A 20:   +column(25, true)\A 21:   #header\A 22:     height: 50px"; }
