#sites
  #detailed-report
    float: left
    margin: 10px 0
    ul
      margin: 10px
    li
      +hoptions
  #chart
    margin-bottom: 10px

#site-stats
  #chart
    margin-bottom: 25px
  #deals-activity
    .calc, .see-locations-btn
      clear: left
    .calc
    .see-locations-btn
      display: block
    .label
      width: 300px
      float: left
    .value
      width: 300px
      float: left
  #deals-variation
    ul
      margin-bottom: 20px
      float: left
    li
      +hoptions
    .variation-table
      clear: left
    .calc
      clear: left
    .label
      width: 300px
      float: left
    .value
      width: 200px
      float: left
    .change
      width: 200px
      float: left

  .stats-block
    padding: 20px 10px
    margin-bottom: 10px
    background-color: #EEE
    +corner(6px)
    +column(18, true)
    border-bottom: 1px solid #AAA
    border-right: 1px solid #AAA
    
  #deals-trending
    .label, .value
      width: 200px
      float: left
    .row
      clear: left
      font-size: 13px
      margin: 10px 0
      float: left
      border: 1px solid white
      +corner(6px)
      padding: 10px
      width: 650px
    .deal, .division
      border-right: 1px dashed white
    .deal
      +column(10)
    .division
      +column(3)
      &.label
        margin-left: 10px
    .hotness
      +column(3, true)
    .label
      border: 0

#trends
  .trends-box
    +column(9)
    font-size: 13px
    &#by-hotness
      +column(9, true)
  .trends-box ul
    padding: 5px
    border: 1px solid #AAA
    float: left
    li
      margin: 10px 0
      float: left
      .thumb, a
        float: left
      a
        width: 295px
        margin-left: 10px
    .thumb
      height: 30px
      width: 30px
      float: left
    .info
      padding: 5px
  #by-revenue
    margin-left: 20px
    margin-right: 0