=# render :partial => 'shared/chart', :object => @chart

= will_paginate @deals

%hr
%h2 Deals
%table
  %tr
    %th deal_id
    %th status
    %th price
    %th original_price
    %th buyers_count
    %th hotness
    %th division
    %th latitude
    %th longitude
    %th last checked / first seen

  = render :partial => @deals

= will_paginate @deals
