#site-stats
  #chart
  #deals-activity
    %p Active deals being tracked
      %span 100
    %p Deals tracked to date
      %span 100
    %p Coupons purchased to date
      %span 100
    %p Total spent on deals to date
      %span 100
    %p Average revenue per deal
      %span 100
    %p Total locations
      %span 100
    %a{:href=>"#"} See Locations
  #deals-variation
    %ul
      %li.period
        %a{:href=>"#"} Day
      %li.period
        %a{:href=>"#"} Week
      %li.period
        %a{:href=>"#"} Month
      %li.period
        %a{:href=>"#"} Quarter
    .variation-table
      .entry
        %p.label Closed Deals
        %span 100
    %p Coupons Purchased
      %span 100
    %p Closed Deals
      %span 100
  #deals-trending