#sites.main-content
  #chart
  #detailed-report
    %p.label See Detailed Report
    %ul
      - @sites.each do |s|
        %li.site
          %a{:href=>"/sites/#{s.source_name}"} #{s.name}
#machete
  %a{:href => "mail_updates/new", :id=> "lnk-new-user", :class=> "iframe"} 
    Sign Up


=content_for(:javascripts) do
  :javascript
    var chart_data= #{@chart_data.to_json}
  :javascript  
    $("a#iframe").fancybox();
    $("a#lnk-new-user").fancybox({
      'transitionIn'	:	'elastic',
      'transitionOut'	:	'elastic',
      'speedIn'		:	600, 
      'speedOut'	:	200, 
      'overlayShow'	:	false
      });