#sites.main-content
  #chart
  #detailed-report
    %p.label See Detailed Report
    %ul
      - @sites.each do |s|
        %li.site
          %a{:href=>""}
            = s.name

=content_for(:javascripts)
  :javascript
    var chart_data= #{@chart_data.to_json}