#sites.main-content
  #chart
  #detailed-report
    %p.label See Detailed Report
    %ul
      - @sites.each do |s|
        %li.site
          %a{:href=>"/sites/#{s.source_name}"} #{s.name}

=content_for(:javascripts) do
  :javascript
    var chart_data= #{@chart_data.to_json}