#site-stats.main-content
  %h1 #{@site.name}
  #chart
  #deals-activity
    %p.calc
      %span.label Active deals being tracked
      %span.value 100
    %p.calc
      %span.label Deals tracked to date
      %span.value 100
    %p.calc
      %span.label Coupons purchased to date
      %span.value 100
    %p.calc
      %span.label Total spent on deals to date
      %span.value 100
    %p.calc
      %span.label Average revenue per deal
      %span.value 100
    %p.calc
      %span.label Total locations
      %span.value 100
    %a.see-locations-btn{:href=>"#"} See Locations
  #deals-variation
    %ul
      %li.period
        %a{:href=>"#"} Day
      %li.period
        %a{:href=>"#"} Week
      %li.period
        %a{:href=>"#"} Month
      %li.period
        %a{:href=>"#"} Quarter
    .variation-table
      .entry
        %p.label Closed Deals
        %span 100
    %p 
      %span Coupons Purchased
      %span 100
    %p 
      %span Closed Deals
      %span 100
  #deals-trending
    %h2 Currently Trending on 
    .trending-table
      .header
        %p.label Deal
        %p.label City
        %p.label Hotness Index
      .row
        %p.value Cheapeast Fly to NY
        %p.value Anywhere but NY
        %p.value 666
      .row
        %p.value Cheapeast Fly to NY
        %p.value Anywhere but NY
        %p.value 666
      .row
        %p.value Cheapeast Fly to NY
        %p.value Anywhere but NY
        %p.value 666
      .row
        %p.value Cheapeast Fly to NY
        %p.value Anywhere but NY
        %p.value 666
      .row
        %p.value Cheapeast Fly to NY
        %p.value Anywhere but NY
        %p.value 666
      .row
        %p.value Cheapeast Fly to NY
        %p.value Anywhere but NY
        %p.value 666

=content_for(:javascripts) do
  :javascript
    var chart_data= #{@chart_data.to_json}