%h1 Admin Deals

= will_paginate(@deals)

%table
  %tr
    %th name
    %th sale_price
    %th actual_price
    %th division
    %th site
    %th active
    %th hotness
    %th lat
    %th lng
    %th created_at
    %th expires_at
    %th raw_address

  - @deals.each do |deal|
    %tr
      %td{:colspan=>12}=link_to(deal.name, admin_deal_path(deal))
    %tr
      %td=deal.sale_price
      %td=deal.actual_price
      %td=deal.division.try(:name)
      %td=deal.site.try(:name)
      %td=deal.active
      %td=deal.hotness
      %td=deal.lat
      %td=deal.lng
      %td=deal.created_at
      %td=deal.expires_at
      %td=deal.raw_address

= will_paginate(@deals)