%h1=@site.name

%table
  %tr
    %th id
    %th name
    %th base_url
    %th source_name
    %th active
    %th created_at
    %th updated_at

  %tr
    %td=@site.id
    %td=@site.name
    %td=@site.base_url
    %td=@site.source_name
    %td=@site.active
    %td=@site.created_at
    %td=@site.updated_at